<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>MVT_Pablo Lisowyj</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-success">
        <div class="container-fluid">
            <a class="navbar-brand text-light">Clase 18 - Mi primer MVT</a>
    
        </div>
    </nav>
    
    <div class="container-fluid mt-5">
        <div class="alert alert-success" role="alert">
            Familiares
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">N° Documento</th>
                    <th scope="col">Fecha Nacimiento</th>
                    <th scope="col">Domicilio</th>
                </tr>
            </thead>
            <tbody>
                {% for x in myfamily %}
                <tr>
                    <td scope="row">{{ x.id }}</td>
                    <td>{{ x.firstname }}</td>
                    <td>{{ x.lastname }}</td>
                    <td>{{ x.identity }}</td>
                    <td>{{ x.datebirth }}</td>
                    <td>{{ x.address }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
        <div class="alert alert-success mt-5" role="alert">
            Sus teléfonos
        </div>
    
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Familiar #</th>
                    <th scope="col">N° Teléfono</th>
                </tr>
            </thead>
            <tbody>
                {% for x in familyphones %}
                <tr>
                    <td scope="row">{{ x.id_people }}</td>
                    <td>{{ x.phonenumber }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>

