{% extends "base.html" %}

{% block cuerpo %}
    <!-- Masthead-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">PROYECTO FINAL</h1>
    
        </div>
    </header>
    <!-- familiares Section-->
    <section class="page-section portfolio" id="familiares">
        <div class="container">
            <!-- familiares Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Familiares</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
    
            <table class="table text-uppercase">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">N° Documento</th>
                        <th scope="col">Fecha Nacimiento</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in myfamily %}
                    <tr>
                        <td scope="row">{{ x.id }}</td>
                        <td>{{ x.firstname }}</td>
                        <td>{{ x.lastname }}</td>
                        <td>{{ x.identity }}</td>
                        <td>{{ x.datebirth }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a class="btn btn-info" href="{% url 'faddmember' %}" role="button">Agregar</a>

        </div>
    </section>
    <!-- telefonos Section-->
    <section class="page-section bg-info text-white mb-0" id="telefonos">
        <div class="container">
            <!-- telefonos Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">Teléfonos</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
    
            <table class="table text-uppercase">
                <thead>
                    <tr>
                        <th scope="col">Familiar #</th>
                        <th scope="col">N° Teléfono</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in familyphones %}
                    <tr>
                        <td scope="row">{{ x.id_people }}</td>
                        <td>{{ x.phonenumber }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a class="btn btn-warning" href="{% url 'faddPhones' %}" role="button">Agregar</a>
        </div>
    </section>
    <!-- domicilios Section-->
    <section class="page-section text-white mb-0" id="domicilios">
        <div class="container">
            <!-- domicilios Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Domicilios</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
    
            <table class="table text-uppercase">
                <thead>
                    <tr>
                        <th scope="col">Familiar #</th>
                        <th scope="col">Domicilio</th>
                        <th scope="col">Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in familyaddress %}
                    <tr>
                        <td scope="row">{{ x.id_people }}</td>
                        <td>{{ x.address }}</td>
                        <td>{{ x.type }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    
            <a class="btn btn-info" href="{% url 'faddAddress' %}" role="button">Agregar</a>
        </div>
    </section>
{% endblock %}

